<h1> To Do</h1>
<h1 class = "done"> Done <h1>
 <div class="wrapper">
  <% @tasks.each do |task| %>
    <container <% if task[:status].class == String%>
                <=% class = "complete"%>
                <%else task[:status].class == nil%>
                <=% class = "pending"%>
                <%end%>

      <h2>
      <a href= "/tasks/<%=task.id %>">
          <%= task[:name] %>
        </a>
      </h2>
      <ul>
        <li>Description: <%= task[:description] %></li>
        <li>DUE DATE: <%= task[:completion_date] %></li>
        <li> Status: <%= task[:status]%></li>
      </ul>
      <br>
      <ul class = "options">
        <li><% if task[:status].class == String%>
              <%= link_to "Mark as Incomplete", task_status_path(task.id), method: :patch, class: "complete"%>
            <% else task[:status].class == nil%>
              <%= link_to "Mark as Complete", task_status_path(task.id), method: :patch %>
            <%end%>
          </li>
        <li><%= link_to "Edit", edit_task_path(task.id)%></li>
        <li><%= link_to "Delete #{task.name}?", task_path(task.id), method: :delete, data: {confirm:"Are you sure you want to delete?"} %></li>
      </ul>
        </container>
      <% end %>
